body {
  background-color: white;
  overflow: hidden;
}

* {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 107.39" width="28" height="28"><path fill="%23ed1b24" d="M60.83,17.18c8-8.35,13.62-15.57,26-17C110-2.46,131.27,21.26,119.57,44.61c-3.33,6.65-10.11,14.56-17.61,22.32-8.23,8.52-17.34,16.87-23.72,23.2l-17.4,17.26L46.46,93.55C29.16,76.89,1,55.92,0,29.94-.63,11.74,13.73.08,30.25.29c14.76.2,21,7.54,30.58,16.89Z"/></svg>') 14 14, auto;
}

.christy {
  position: absolute;
  bottom: -40px;
  left: -20px;

  // .christy__flex-1
  &__flex-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 75px;
    position: relative;
    bottom: -20px;
  }

  // .christy__title
  &__title {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
  }

  // .christy__curved-arrow
  &__curved-arrow {
    width: 100px;

    // .christy__curved-arrow img
    img {
      width: 100%;
    }
  }

  &__image {
    width: 150px;
  }
}
